
.Homepage{
    background-color: aqua;
    margin-left: 250px;
    max-width: 50%;
    padding: 10px;
    margin-top:180px;
    box-shadow: 10px 10px 30px 20px white;
    border-radius:50%;
    
      
    

}

h1,p{
    margin-top: 20px;
   
    margin-left: 240px;
    color: black;
}
h1{
    font-family:'Times New Roman', Times, serif;
    color:currentColor;
}

.txt{
    font-size: 20px;
    color: black;
}

.links {
  display: inline-block;
  width: 120px;               /* fixed width for both links */
  padding: 10px 0;
  background-color: #667eea;  /* blue background */
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: bold;
  transition: 0.3s ease;
  margin-left: 50px;
  /* display: fle; */
  /* flex-direction: column; */
  margin-bottom: 20px;
  

}

.links:hover {
  background-color: rgb(246, 239, 239);
  border-radius: 50%;
   box-shadow: 5px 5px  5px  rgb(255, 255, 255);
  transform: scale(1.05);}

  .nav{
    margin-left: 120px;
  }