
.container {
margin-left:400px;
  background-color:rgb(176, 49, 49);
  display: block;
  padding: 1rem;
  margin-top:50px;

  width: 350px;
  border-radius: 0.5rem;
  height: 270px;
  box-shadow:  10px 10px   10px rgb(234, 229, 229);
  
}
.form-title{
  color:white;
      font-size:30px;
      
      margin-left:100px;
}
input::placeholder{
   padding:20px;
   font-size:20px;

}
   input{
   
     margin:15px;
     align-items: center;
     height: 40px;
    
   box-shadow:2px 1px 3px black;
   }


button {

  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 
  transition: all 0.5s ease;
  margin-top:-25px;
  margin-left:80px;
  margin-right: 70px;
  color:white;
 font-size: 15px;
 font-weight: bolder;

  
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 34) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 57) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.turn{
background-color: red;
margin-left: 70%;
margin-top: 30px;
}
        